.main-header {
  width: 100%;
  height: 80px;
  background-color: #24436e;
}

/************* Header logo ****************/
.main-header__logo{
  margin-left: 20px;
  padding: 16px;
  text-align: center;
  display: inline-block;
}
@media(max-width: 800px){
  .main-header__logo{
    float: right;
  }
}
.main-header img{
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  display: inline-block;
}

.main-header__name {
  color: white;
  vertical-align: middle;
  display: inline-block;
}
.main-header__name p{
  margin: 0px;
}

/************* toggle button ****************/
.toggle{
  width: 65px;
  height: 60%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  border: solid grey 1px;
  border-radius: 4px;
  margin: 15px;
}
.toggle div {
  width: 80%;
  height: 2px;
  background-color: white;
}
@media(min-width: 800px) {
  .toggle{
    display: none;
  }
}

/************* sideDrawer ****************/
.main-nav{
  display: inline-block;
  float: right;
}

@media (max-width: 800px) {
  .main-nav{
    display: none;
  }
}

/************* sideDrawer ****************/
.sideDrawer{
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 200;
  transition: transform 0.5s ease-out;
}

@media(min-width: 800px) {
  .sideDrawer{
    display: none;
  }
}

.Open{
  transform: translateX(0);
}

.Close{
  transform: translateX(-100%);
  /*display: none;*/
}







