<header class="main-header ">
  <div class="main-header__logo">
    <img src="../../assets/logo.png">
    <div class="main-header__name">
      <p>Ohsama Ramen</p>
      <p style="font-size: 1px; font-family: 'Open Sans Condensed', sans-serif; font-weight: lighter">王 様 っ ら 麺</p>
    </div>
  </div>
  <!-- Logo -->

  <div class="toggle" (click)="onClick()">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <!-- sideDrawer toggler -->

  <div class="main-nav">
    <app-navigation-items></app-navigation-items>
  </div>
  <div class="sideDrawer {{sideDrawer}}" (click)="onClick()">
    <app-navigation-items></app-navigation-items>
  </div>
  <!-- Navigation & SideDrawer -->

</header>

