<footer class="main-footer container-fluid">
  <div class="row" style="margin: 0">
    <div class="main-footer__nav">
      <div class="logo">
        <img src="assets/logo-origin.jpg" alt="logo">
      </div>
      <!--      <app-logo></app-logo>-->
      <ul class="main-footer__navItems">
        <li class="main-footer__navItem">
          <a routerLink="/story">The story of Ohsama</a>
        </li>
        <li class="main-footer__navItem">
          <a routerLink="/menu">Menu</a>
        </li>
        <li class="main-footer__navItem">
          <a routerLink="/#contact">Contact us</a>
        </li>
      </ul>
    </div>
    <!--  logo and nav  -->

    <div class="main-footer__info">
      <a href="mailto:info@Ohsama.com.au?subject=booking&body=hello">
        <span><img src="../../assets/mail_icon.png"/></span>
        info@Ohsama.com.au
      </a>
      <p><span><img src="../../assets/phont_icon.png"/></span>0430 330 948</p>
      <p>
        <span><img src="../../assets/map_icon.png"/></span>
        Shop5, Palmerston Ln, Griffith ACT 2603
      </p>
    </div>
    <!--  info  -->
  </div>
</footer>
