.main-nav__items{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  height: 100%;
}

.main-nav__item{
  padding: 28px 20px;
  margin: 0px;
  color: white;
  display: inline-block;
}

.main-nav__item a{
  font-weight: lighter;
  color: white;
}

@media (max-width: 800px) {
  .main-nav__item{
    width: 190px;
    background-color: #24436e;
  }
  .main-nav__items{
    flex-flow: column;
  }
}

.main-nav__item--cta {
  font-weight: bold;
  background-color: #b42424;
}
