<div class="side-dishes">
  <h1 style="font-family: 'Lobster', cursive;">Side Dishes</h1>
  <p>Enjoy these items with your ramen.</p>
  <div class="side-dishes__items">
    <p>Edamame  <span>----------------------------------------------------------------------------</span> $6.50</p>
    <p>Takoyaki  <span>----------------------------------------------------------------------------</span> $6.50</p>
    <p>Okonomiyaki <span>----------------------------------------------------------------------------</span> $6.50</p>
    <p>Fried Chicken  <span>----------------------------------------------------------------------------</span> $6.50</p>
    <p>Pumpkin croquet  <span>------------------------------------------------------------------------</span> $6.50</p>
  </div>
</div>
