<div class="side-dishes">
  <h1>Side Dishes</h1>
  <p id="enjoy">Enjoy these items with your ramen.</p>
  <div>
    <ul class="menu">
      <li><strong>Edamame</strong> <em>$6.50</em></li>
      <li><strong>Takoyaki</strong> <em>$6.50</em></li>
      <li><strong>Okonomiyaki</strong> <em>$6.50</em></li>
      <li><strong>Fried Chicken</strong> <em>$6.50</em></li>
      <li><strong>Pumpkin croquet</strong> <em>$6.50</em></li>
    </ul>
  </div>

<!--  <div class="side-dishes__items">-->
<!--    <div class="side-dishes__item">-->
<!--      <p class="side-dishes-name">Edamame</p> <div class="dottedLine"></div> <p>$6.50</p>-->
<!--    </div>-->
<!--    <div class="side-dishes__item">-->
<!--      <p class="side-dishes-name">Takoyaki</p> <div class="dottedLine"></div> <p>$6.50</p>-->
<!--    </div>-->
<!--    <div class="side-dishes__item">-->
<!--      <p class="side-dishes-name">Okonomiyaki</p> <div class="dottedLine"></div> <p>$6.50</p>-->
<!--    </div>-->
<!--    <div class="side-dishes__item">-->
<!--      <p class="side-dishes-name">Fried Chicken</p> <div class="dottedLine"></div> <p>$6.50</p>-->
<!--    </div>-->
<!--    <div class="side-dishes__item">-->
<!--      <p class="side-dishes-name">Pumpkin croquet</p> <div class="dottedLine"></div> <p>$6.50</p>-->
<!--    </div>-->
<!--  </div>-->
</div>
