<div class="menu">
  <div class="menu-title">
    <h1>Main Dishes</h1>
    <p>Our soup is made from scratch at all our restaurants in Japan and abroad. <br/>We pay close attention to the ingredients and preparation method.</p>
  </div>
  <div class="ohsama_Webdesign14"></div>
  <div class="menu-items desktop-only" >
    <div class="menu-item" *ngFor="let menu of menus" [ngStyle]="{flexDirection: menu.id%2 === 0 ? 'row': 'row-reverse'}" >
      <img src="{{menu.imagePath}}" alt="dish-img">
      <div class="menu-item__description">
        <h4>{{menu.label}}</h4>
        <h4>{{menu.name}}</h4>
        <p>{{menu.ingredients}}</p>
        <h6 *ngIf="menu.noodle">On Noodle:</h6>
        <p>{{menu.noodle}}</p>
        <h6 *ngIf="menu.dipping">In Dipping:</h6>
        <p>{{menu.dipping}}</p>
        <h6 *ngIf="menu.topping">TOPPING:</h6>
        <p>{{menu.topping}}</p>
      </div>
    </div>
  </div>

  <div class="menu-items mobile-only" >
    <div class="menu-item" *ngFor="let menu of menus">
      <div class="menu-image" >
        <img [ngStyle]="{left: menu.left, right: menu.right}" src="{{menu.imagePath}}" alt="dish-img">
      </div>
      <div class="menu-item__description">
        <h4>{{menu.label}}</h4>
        <h4>{{menu.name}}</h4>
        <p>{{menu.ingredients}}</p>
        <h6 *ngIf="menu.noodle">On Noodle:</h6>
        <p>{{menu.noodle}}</p>
        <h6 *ngIf="menu.dipping">In Dipping:</h6>
        <p>{{menu.dipping}}</p>
        <h6 *ngIf="menu.topping">TOPPING:</h6>
        <p>{{menu.topping}}</p>
      </div>
    </div>
  </div>
</div>
