.story{
  padding-top: 80px;
}

h1{
  font-family: var(--main-theme-font-family);
}

.story-header{
  width: 100%;
  height: 500px;
  position: relative;
}

.story-header__label{
  text-align: center;
  color: #eee7e7;
  padding-top: 150px;
}

.story-header-bg img{
  width: 100%;
  height: 500px;
  overflow: hidden;
  z-index: -1;
  position: absolute;
  top: 0;
}

.story-detail{
  width: 50%;
  text-align: left;
  padding: 40px 0;
  margin: auto;
  color: var(--main-theme-color);
}

.story-img{
  text-align: center;
  width: 100%;
  height: 350px;
  margin: auto;
}
.story-img img{
  width: 100%;
  height: 100%;
}


@media (min-width: 1500px) {
  .story{
    width: 70vw;
    margin: auto;
  }
}

@media (max-width: 375px) {
  .story-detail{
    width: 80%;
  }
  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

}





